* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

img {
  max-width: 100%; }

.side-margin {
  width: 85%;
  margin: auto; }

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1.75px; }

.nav-right {
  padding-left: 10px; }

.news-section {
  padding-top: 3rem; }

.featured {
  padding-top: 3rem;
  padding-bottom: 3rem; }
  .featured h2 {
    font-size: 1.25rem;
    padding-bottom: 1.75rem;
    letter-spacing: 1.15px; }
  .featured p {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; }
  .featured a {
    text-decoration: none;
    color: black; }
    .featured a:hover {
      color: #5f9ea0; }
    .featured a img:hover {
      opacity: 0.75;
      filter: alpha(opacity=75);
      /* For IE8 and earlier */ }

.lookbook {
  margin: 0;
  padding: 2rem 0 3rem 0; }

.blog-header {
  padding-top: 3rem; }
  .blog-header h2 {
    font-size: 1.25rem;
    letter-spacing: 1.15px; }

.blog {
  padding-top: 1.75rem;
  padding-bottom: 3rem; }
  .blog a {
    text-decoration: none; }
    .blog a h3 {
      background-color: #ededed;
      letter-spacing: 1.15px;
      font-size: 1.25rem;
      font-weight: bold;
      padding-top: 1.25rem;
      padding-bottom: 1rem;
      padding-left: 0.95rem;
      color: darkcyan; }
    .blog a p {
      background-color: #ededed;
      font-size: 0.85rem;
      color: slategray;
      line-height: 18px;
      padding-left: 0.95rem;
      padding-right: 0.95rem;
      padding-bottom: 1rem; }
    .blog a img:hover {
      opacity: 0.75;
      filter: alpha(opacity=75);
      /* For IE8 and earlier */ }
    .blog a .blog-2 {
      padding-bottom: 1.85rem;
      font-style: italic; }
    .blog a .blog-1 {
      font-style: italic; }

footer {
  margin-top: 3rem; }
  footer .footer-inner {
    padding-top: 3rem;
    padding-bottom: 5rem; }
    footer .footer-inner h4 {
      font-size: 1rem;
      letter-spacing: 1.10px;
      font-weight: bold;
      padding-bottom: 1rem; }
  footer .help {
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .help li {
      font-size: 0.85rem;
      padding-bottom: 5px; }
  footer .contact {
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .contact li {
      font-size: 0.85rem;
      padding-bottom: 5px; }
    footer .contact i {
      color: dimgrey;
      padding-right: 4px; }
  footer .explore {
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .explore li {
      font-size: 0.85rem;
      padding-bottom: 5px; }
  footer .follow {
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .follow i {
      color: dimgray;
      padding-right: 8px;
      font-size: 1.25rem; }
  footer .sign-up {
    padding-top: 10px;
    padding-bottom: 10px; }
    footer .sign-up p {
      font-size: 0.85rem;
      padding-bottom: 10px; }

.inner-cover {
  height: 38vh;
  background-image: url("../images/cover-furniture.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

main {
  padding-top: 3rem;
  padding-bottom: 2rem; }
  main .main-content .row .filter-section {
    padding-left: 0; }
    main .main-content .row .filter-section h1 {
      font-size: 1.25rem;
      letter-spacing: 1.15px; }
    main .main-content .row .filter-section .list-group a {
      text-decoration: none;
      color: black;
      padding-top: 5px;
      padding-bottom: 5px; }
      main .main-content .row .filter-section .list-group a:hover {
        color: #5f9ea0; }
  main .main-content .row .product-section .products-header {
    font-size: 1.15rem;
    font-weight: bolder;
    letter-spacing: 1.15px;
    color: #5f9ea0; }
  main .main-content .row .product-section .row .col-md-6 {
    padding-top: 20px;
    padding-bottom: 30px; }

/*# sourceMappingURL=styles.css.map */