//$accent-color: 
$highlight-color: #5f9ea0; // cadetblue // 
$main-font: 'Montserrat', sans-serif;


// GLOBAL STYLES //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

main {
  width: 85%;
  margin: auto;
}

img {
  max-width: 100%;
}


// NAVBAR //

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1.75px;
}

// FEATURED ITEMS //

.featured {
  padding-top: 3rem;
  padding-bottom: 3rem;
  h2 {
    font-size: 1.25rem;
    padding-bottom: 1.75rem;
    letter-spacing: 1.15px;
  }
  p {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $highlight-color;
    }
    img {
      &:hover {
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
      }
    }
  }
}

