// VARIABLES

$highlight-color: #5f9ea0; // cadetblue // 
$accent-color: #ededed; // light grey //
$main-font: 'Montserrat', sans-serif;



// TABLE OF CONTENTS :
// 1. Global Styles
// 2. Navbar
// 3. News Section
// 4. Featured Items
// 5. Lookbook
// 6. Blog
// 7. Footer



// 1. GLOBAL STYLES //

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $main-font;
}

img {
  max-width: 100%;
}

.side-margin {
  width: 85%;
  margin: auto;
}



// 2. NAVBAR //

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1.75px;
}

.nav-right {
  padding-left: 10px;
}



// 3. NEWS SECTION //

.news-section {
  padding-top: 3rem;
}



// 4. FEATURED ITEMS //

.featured {
  padding-top: 3rem;
  padding-bottom: 3rem;
  h2 {
    font-size: 1.25rem;
    padding-bottom: 1.75rem;
    letter-spacing: 1.15px;
  }
  p {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: $highlight-color;
    }
    img {
      &:hover {
      opacity: 0.75;
      filter: alpha(opacity=75); /* For IE8 and earlier */
      }
    }
  }
}



// 5. LOOKBOOK //

.lookbook {
  margin: 0;
  padding: 2rem 0 3rem 0;
}



// 6. BLOG //

.blog-header {
  padding-top: 3rem;
  h2 {
    font-size: 1.25rem;
    letter-spacing: 1.15px;
  }
}

.blog {
  padding-top: 1.75rem;
  padding-bottom: 3rem;
  a {
    text-decoration: none;
    h3 {
      background-color: $accent-color;
      letter-spacing: 1.15px;
      font-size: 1.25rem;
      font-weight: bold;
      padding-top: 1.25rem;
      padding-bottom: 1rem;
      padding-left: 0.95rem;
      color: darkcyan;
    }
    p {
      background-color: $accent-color;
      font-size: 0.85rem;
      color: slategray;
      line-height: 18px;
      padding-left: 0.95rem;
      padding-right: 0.95rem;
      padding-bottom: 1rem;
    }
    img {
      &:hover {
      opacity: 0.75;
      filter: alpha(opacity=75); /* For IE8 and earlier */
      }
    }
    .blog-2 {
      padding-bottom: 1.85rem;
      font-style: italic;
    }
    .blog-1 {
      font-style: italic;
    }
  }
}



// 7. FOOTER //

footer {
  margin-top: 3rem;
  .footer-inner {
    padding-top: 3rem;
    padding-bottom: 5rem;
    h4 {
      font-size: 1rem;
      letter-spacing: 1.10px;
      font-weight: bold;
      padding-bottom: 1rem;
    }
  }
  .help {
  padding-top: 10px;
  padding-bottom: 10px;
    li {
      font-size: 0.85rem;
      padding-bottom: 5px;
    }
  }
  .contact {
  padding-top: 10px;
  padding-bottom: 10px;
    li {
      font-size: 0.85rem;
      padding-bottom: 5px;
    }
      i {
        color: dimgrey;
        padding-right: 4px;
    }
  }
  .explore {
  padding-top: 10px;
  padding-bottom: 10px;
    li {
      font-size: 0.85rem;
      padding-bottom: 5px;
    }
  }
  .follow {
  padding-top: 10px;
  padding-bottom: 10px;
    i { 
      color: dimgray;
      padding-right: 8px;
      font-size: 1.25rem;
    }
  }
  .sign-up {
  padding-top: 10px;
  padding-bottom: 10px;
    p {
      font-size: 0.85rem;
      padding-bottom: 10px;
    }
  }
}



// 8. INNER COVER

.inner-cover {
  height: 38vh;
  background-image: url("../images/cover-furniture.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//main {
//  .main-content {
//    margin: 1rem;
//  }
//}

main {
  padding-top: 3rem;
  padding-bottom: 2rem;
  .main-content {
    .row {
      .filter-section {
        padding-left: 0;
        h1 {
          font-size: 1.25rem;
          letter-spacing: 1.15px;
        }
        .list-group a {
          text-decoration: none;
          color: black;
          padding-top: 5px;
          padding-bottom: 5px;
          &:hover {
            color: $highlight-color;
          }
        }
      }
      .product-section {
        .products-header {
            font-size: 1.15rem;
            font-weight: bolder;
            letter-spacing: 1.15px;
            color: $highlight-color;
          }
        .row {
          .col-md-6 {
            padding-top: 20px;
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}

